
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Fira Sans", serif;
}

.nav-width {
  display: flex;
  justify-content: center;
}

.header {
  width: 1450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.btn-border {
  border-radius: 12px;
  border: 2px solid rgb(0, 106, 80);
  padding: 2px 30px;
}

.btn-sign-in {
  color: rgb(0, 106, 80);
  font-size: 18px;
  font-weight: 600;
}




/* hero section style start */



.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;
  /* border: 2px solid red; */
}

.hero {
  width: 1280px;
  height: 560px;
  /* border: 2px solid red; */
  border-radius: 24px;
  background: rgb(198, 228, 214);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
}
.space {
  width: 150px;
}

.sub-title {
  color: rgba(14, 14, 14, 0.5);
  font-size: 32px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  margin-top: 50px;
}

.title {
  color: rgb(14, 14, 14);
  font-size: 55px;
  font-weight: 700;
  line-height: 67px;
  text-align: left;
}

.title-btn {
  border-radius: 8px;
  color: white;
  background: rgb(0, 106, 80);
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
}




/* main section start */



main {
    width: 1435px;
    margin: auto;
  }
  
  .pillars-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    text-align: left;
  }
  
  /* cart container */
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
  }
  
  .card {
    margin: 16px;
    background-color: #0e0e0e07;
    border-radius: 16px;
    padding: 16px;
  }
  
  .cart-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
  }
  
  .cart-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
  }




  /* The Vision of Future style start here */


.vision-container {
    margin-top: 80px;
  }
  
  .future-cart {
    padding: 32px;
    border-radius: 16px;
    margin: 12px;
  }
  
  .future-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
  }
  
  .future-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 20px;
    font-weight: 400;
  }
  /* future cart style */
  .future-cart-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 22px;
    font-weight: 700;
  }
  
  .future-cart-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 20px;
    font-weight: 400;
  }
  
  .future-cart-btn {
    padding: 11px 20px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
  }
  
  #future-cart-1 {
    background: rgba(84, 144, 245, 0.2);
  }
  #future-cart-btn1 {
    background: rgb(84, 144, 245);
  }
  
  #future-cart-2 {
    background: rgb(198, 228, 214);
  }
  #future-cart-btn2 {
    background: rgb(9, 161, 92);
  }
  
  #future-cart-3 {
    background: rgb(247, 235, 207);
  }
  #future-cart-btn3 {
    background: rgb(255, 194, 57);
  }




  /* second part description */



.second-part {
  margin-top: 24px;
  padding: 22px 16px;
  background-image: url(./assets/quote-bg.png);
  background-repeat:no-repeat;
  background-color: #0e0e0e07;
}

.second-part-description {
  font-size: 20px;
  font-weight: 400;
}

.second-part-title {
  font-size: 22px;
  font-weight: 700;
}

.second-part-title-description {
  font-size: 20px;
  font-weight: 400;
}





/* Your Opinion Matters section style start here */




.question-box-container {
  border-radius: 16px;
  background-color: #0e0e0e07;
  padding: 32px;}

.question-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  border: 1px solid rgba(65, 141, 118, 0.295);
  background: rgb(198, 228, 214);
}

.question-title {
  font-size: 20px;
  font-weight: 600;}


  table{
    border-collapse: collapse;
    width: 1370px;
  }

  td{
    border: 1px solid rgba(65, 141, 118, 0.295);
    font-size: 25px;
    font-weight: 1200px;
    padding: 20px 24px;
  }
  .table-btn{
    padding: 12px;
  }
.question-btn {
  padding: 10px 14px;
  border: 4px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214);
  margin: 12px;
  font-size: 16px;
  font-weight: 600;
}



/* Recent News section style start */

.pillars-title{
  margin-top: 120px;
}

.setalite-container {
  border-radius: 12px;
}
.setalite {
  border-radius: 12px;
  margin-right: 48px;
}
.setalite-2 {
  border-radius: 12px;
  margin-left: 48px;
}
.setalite-boox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e0e0e07;
  border-radius: 12px;
  padding: 48px;
}
.date {
  display: flex;
  align-items: center;
}
.date-time {
  margin-right: 20px;
}
.setalite-description {
  font-size: 20px;
}

.setalite-btn {
  border-radius: 8px;
  padding: 13px 24px;
  color: white;
  border: none;
  background: rgb(0, 106, 80);
}
#setalite-space {
  margin: 32px 0px;
}




/* Donate For Change section style start here */



.donate-container {
  text-align: center;
  margin-top: 80px;
}

.donate-title {
  font-size: 40px;
  font-weight: 600px;
}

.donate-description {
  font-size: 20px;
}

.taka-continer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.taka-cart {
  padding: 8px 32px;
  background-color: #0e0e0e07;
  border-radius: 12px;
}
.taka-title {
  font-size: 32px;
  font-weight: 700;
}
#taka-title-sub {
  background: rgb(198, 228, 214);
}

.other-amount {
  background-color: #0e0e0e08;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 24px;
}

.other-amount-title {
  padding: 20px 40px;
}

.donate-btn {
  padding: 17px 34px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: 700px;
  border: none;
  background-color: #006a50;
}



/* Subscribe Newsletter section start here */


.Subscribe-container {
  text-align: center;
  margin-top: 80px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 80px 100px;
}
.subscribe-title {
  font-size: 40px;
  font-weight: 600px;
  padding: 8px 100px;
}
.subscribe-description {
  font-size: 20px;
  font-weight: 400px;
}
.input-feil {
  width: 500px;
  height: 48px;
  border-radius: 6px;
  border: none;
  padding-left: 24px;
}
.input-btn {
  padding: 17px 34px;
  color: white;
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
}


/* footer */


footer {
  width: 1440;
  margin: auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  text-align: center;
  width: 500px;
  margin-bottom: 32px;
}

.img-icon {
  margin-left: 20px;
  margin-right: 20px;
}


/* hover effect style */


.btn-sign-in:hover{background-color: rgb(203, 203, 206);}
.title-btn:hover{background-color:rgb(47, 80, 63) ;} 
#future-cart-btn1:hover{background-color: #006a50;}
#future-cart-btn2:hover{background-color: #006a50;}
#future-cart-btn3:hover{background-color: #006a50;}
.setalite-btn:hover{background-color: #013a2c;}
.taka-title:hover{background-color: #6cccaf;}
.donate-btn:hover{background-color: #013a2c;}
.input-btn:hover{background-color: #013a2c;}
.table-btn:hover{background-color: #2d6d5d;}