
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Fira Sans", serif;
}

.nav-width {
  display: flex;
  justify-content: center;
}

.header {
  width: 1450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.btn-border {
  border-radius: 12px;
  border: 2px solid rgb(0, 106, 80);
  padding: 2px 30px;
}

.btn-sign-in {
  color: rgb(0, 106, 80);
  font-size: 18px;
  font-weight: 600;
}

/* hero section style start */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;
  /* border: 2px solid red; */
}

.hero {
  width: 1280px;
  height: 560px;
  /* border: 2px solid red; */
  border-radius: 24px;
  background: rgb(198, 228, 214);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
}
.space {
  width: 150px;
}

.sub-title {
  color: rgba(14, 14, 14, 0.5);
  font-size: 32px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  margin-top: 50px;
}

.title {
  color: rgb(14, 14, 14);
  font-size: 55px;
  font-weight: 700;
  line-height: 67px;
  text-align: left;
}

.title-btn {
  border-radius: 8px;
  color: white;
  background: rgb(0, 106, 80);
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
}



/* main section start */


main {
    width: 1435px;
    margin: auto;
  }
  
  .pillars-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    text-align: left;
  }
  
  /* cart container */
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
  }
  
  .card {
    margin: 16px;
    background-color: #0e0e0e07;
    border-radius: 16px;
    padding: 16px;
  }
  
  .cart-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
  }
  
  .cart-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
  }

